.blur-progressive > div {
    pointer-events: none;
    position: absolute;
    inset: 0px;
}

.blur-progressive > div:nth-child(1) {
    z-index: 1;
    --tw-backdrop-blur: blur(0.0625px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    -webkit-mask-image: linear-gradient(to top,rgba(0,0,0,0)0%,rgb(0,0,0)12%,rgb(0,0,0)24%,rgba(0,0,0,0)36%);
            mask-image: linear-gradient(to top,rgba(0,0,0,0)0%,rgb(0,0,0)12%,rgb(0,0,0)24%,rgba(0,0,0,0)36%);
}

.blur-progressive > div:nth-child(2) {
    z-index: 2;
    --tw-backdrop-blur: blur(0.125px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    -webkit-mask-image: linear-gradient(to top,rgba(0,0,0,0)12%,rgb(0,0,0)24%,rgb(0,0,0)36%,rgba(0,0,0,0)48%);
            mask-image: linear-gradient(to top,rgba(0,0,0,0)12%,rgb(0,0,0)24%,rgb(0,0,0)36%,rgba(0,0,0,0)48%);
}

.blur-progressive > div:nth-child(3) {
    z-index: 3;
    --tw-backdrop-blur: blur(0.25px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    -webkit-mask-image: linear-gradient(to top,rgba(0,0,0,0)24%,rgb(0,0,0)36%,rgb(0,0,0)48%,rgba(0,0,0,0)64%);
            mask-image: linear-gradient(to top,rgba(0,0,0,0)24%,rgb(0,0,0)36%,rgb(0,0,0)48%,rgba(0,0,0,0)64%);
}

.blur-progressive > div:nth-child(4) {
    z-index: 4;
    --tw-backdrop-blur: blur(0.5px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    -webkit-mask-image: linear-gradient(to top,rgba(0,0,0,0)36%,rgb(0,0,0)48%,rgb(0,0,0)64%,rgba(0,0,0,0)72%);
            mask-image: linear-gradient(to top,rgba(0,0,0,0)36%,rgb(0,0,0)48%,rgb(0,0,0)64%,rgba(0,0,0,0)72%);
}

.blur-progressive > div:nth-child(5) {
    z-index: 5;
    --tw-backdrop-blur: blur(1px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    -webkit-mask-image: linear-gradient(to top,rgba(0,0,0,0)48%,rgb(0,0,0)64%,rgb(0,0,0)72%,rgba(0,0,0,0)88%);
            mask-image: linear-gradient(to top,rgba(0,0,0,0)48%,rgb(0,0,0)64%,rgb(0,0,0)72%,rgba(0,0,0,0)88%);
}

.blur-progressive > div:nth-child(6) {
    z-index: 6;
    --tw-backdrop-blur: blur(2px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    -webkit-mask-image: linear-gradient(to top,rgba(0,0,0,0)64%,rgb(0,0,0)72%,rgb(0,0,0)88%,rgba(0,0,0,0)100%);
            mask-image: linear-gradient(to top,rgba(0,0,0,0)64%,rgb(0,0,0)72%,rgb(0,0,0)88%,rgba(0,0,0,0)100%);
}

.blur-progressive > div:nth-child(7) {
    z-index: 7;
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    -webkit-mask-image: linear-gradient(to top,rgba(0,0,0,0)72%,rgb(0,0,0)88%,rgb(0,0,0)100%);
            mask-image: linear-gradient(to top,rgba(0,0,0,0)72%,rgb(0,0,0)88%,rgb(0,0,0)100%);
}

.blur-progressive > div:nth-child(8) {
    z-index: 8;
    --tw-backdrop-blur: blur(8px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
            backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    -webkit-mask-image: linear-gradient(to top,rgba(0,0,0,0)88%,rgb(0,0,0)100%);
            mask-image: linear-gradient(to top,rgba(0,0,0,0)88%,rgb(0,0,0)100%);
}

.blurred-bg{
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
}